mixin header 
  header
    div.py-4.px-5
      
      a.logo(href="#",rel="home", title="Ableton Homepage")
        img(src=img+"ableton-hallmark.svg",alt="logo")
      ul.flex-grow-1
        li 
          a(href="#") Live 
        li 
          a(href="#") Push 
        li 
          a(href="#") Link 
        li 
          a(href="#") Shop 
        li 
          a(href="#") Packs 
        li 
          a(href="#") Help 
        li
          a(href="#")
            |More 
            img(src=img+"bx-plus.svg", alt="")
        li.try.ms-auto  
          a(href="#") Try Live for free
        li.account 
          a(href="#") Log in or register
    nav.py-3.px-5
      ul
        li 
          a(href="#") About 
        li 
          a(href="#") Jobs 
        li 
          a(href="#") Apprenticeships   